# GitHub Credentials for Circle W3S Android SDK
# Replace with your actual GitHub username and Personal Access Token (PAT)
# PAT needs 'read:packages' permission

PWSDK_MAVEN_URL=https://maven.pkg.github.com/circlefin/w3s-android-sdk
PWSDK_MAVEN_USERNAME=<YOUR_GITHUB_USERNAME>
PWSDK_MAVEN_PASSWORD=<YOUR_GITHUB_PAT>